body {
    color: rgb(0, 70, 131);
    font-family: "Poppins", sans-serif;
    background-color: rgb(248, 248, 248);
  }
  
  #navbarNav {
    justify-content: space-around;
  }
  #navbarNav .nav-link {
    color: rgb(0, 70, 131);
    margin: 1rem;
    font-size: 1rem;
  }
  .counts{
    background-color: rgb(232, 241, 250);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    border-radius: 3rem;
  }
  .count{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .tabs{
    margin: 2rem;
    display: flex;
    justify-content: center;
  }
  .nav-pills{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .nav-pills .nav-link {
    border-radius: var(--bs-nav-pills-border-radius);
    background-color: rgb(75, 75, 82);
    width: 20rem;
    color: aliceblue;
}
.tab-content{
  color: aliceblue;
  margin: 2rem;
  width: fit-content;
  height: max-content;
  background-color: rgb(0, 0, 0);
  font-size: larger;
  padding: 5rem;
  border-radius: 3rem;
  box-shadow: 5px 5px 5px red;
}
.card{
  background-color: rgb(153, 187, 238);
  color: white;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgb(96, 105, 160);

